services:
  python:
    build:
      context: .
      dockerfile: Dockerfile-python
    environment:
      - PC_UUID=${PC_UUID}docker
    expose:
      - "8000"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    ports:
      - "80:80"
    depends_on:
      - python